@charset "utf-8";

/** Font **/
@font-face {
	font-family:"ns";
	src:local(※),
		url("/inc/font/NotoSansKR-Regular.woff2") format("woff2"),
		url("/inc/font/NotoSansKR-Regular.woff") format('woff'),
		url("/inc/font/NotoSansKR-Regular.otf") format("opentype");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:"ns";
	src:local(※),
		url("/inc/font/NotoSansKR-Bold.woff2") format("woff2"),
		url("/inc/font/NotoSansKR-Bold.woff") format("woff"),
		url("/inc/font/NotoSansKR-Bold.otf") format("opentype");
	font-weight:500;
	font-style:normal
}

@font-face {
	font-family:"msR";
	src:local(※),
		url("/inc/font/Montserrat-Regular.woff2") format("woff2"),
		url("/inc/font/Montserrat-Regular.woff") format("woff"),
		url("/inc/font/Montserrat-Regular.otf") format("opentype");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:"ms";
	src:local(※),
		url("/inc/font/Montserrat-Medium.woff2") format("woff2"),
		url("/inc/font/Montserrat-Medium.woff") format("woff"),
		url("/inc/font/Montserrat-Medium.otf") format("opentype");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:"msB";
	src:local(※),
		url("/inc/font/Montserrat-Bold.woff2") format("woff2"),
		url("/inc/font/Montserrat-Bold.woff") format("woff"),
		url("/inc/font/Montserrat-Bold.otf") format("opentype");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:"msEB";
	src:local(※),
		url("/inc/font/Montserrat-ExtraBold.woff2") format("woff2"),
		url("/inc/font/Montserrat-ExtraBold.woff") format("woff"),
		url("/inc/font/Montserrat-ExtraBold.otf") format("opentype");
	font-weight:normal;
	font-style:normal
}

@font-face {
	font-family:"pd";
	src:local(※),
		url("/inc/font/PlayfairDisplay-Italic.woff2") format("woff2"),
		url("/inc/font/PlayfairDisplay-Italic.woff") format("woff"),
		url("/inc/font/PlayfairDisplay-Italic.otf") format("opentype");
	font-weight:normal;
	font-style:normal
}


/** Reset **/
html,body {height:100%;font-size:16px;color:#666;line-height:1.2;-webkit-text-size-adjust:none;}
body,div,form,p,h1,h2,h3,h4,h5,h6,dl,dt,dd,ul,ol,li,em,p,span,textarea,pre,label,fieldset,th,td,button,a,input,select,hr {margin:0;padding:0;font-family:ns, dotum;word-break:break-all;}
h1,h2,h3,h4,h5,h6,strong,th {font-weight:normal;}
em,span,strong,a,button,i {font-size:100%;}
em,address {font-style:normal;}
ol,ul,dl {list-style:none;}
fieldset,img,hr,button {border:0;}
img,input,textarea,select {vertical-align:top;}
table {width:100%;border-collapse:collapse;border-spacing:0;table-layout:fixed;}
legend,caption {overflow:hidden;width:0;height:0;padding:0;font-size:0;line-height:0;}
a {color:#333;text-decoration:none;}
a:hover {text-decoration:none;}
button {overflow:visible;margin:0;padding:0;background:none;border-radius:0;cursor:pointer;}
input,textarea,select {-webkit-appearance:none;appearance:none;}
input[type=text]::-ms-clear,input[type=password]::-ms-clear,input[type=text]::-ms-reveal,input[type=password]::-ms-reveal {display:none;}
.blind {position:absolute;top:0;left:0;overflow:hidden;width:0;height:0;font-size:0;line-height:0;}
#skipNavi {width:100%;position:absolute;top:0;left:0;}
#skipNavi a {display:block;position:absolute;top:-10000px;left:0;z-index:500;width:100%;font-size:12px;text-align:center;}
#skipNavi a:hover,#skipNavi a:focus,#skipNavi a:active {position:absolute;top:0;z-index:500;padding:5px 0;background:#1d60a7;color:#fff;}

/** Layout **/
#wrap {position:relative;width:100%;min-width:1190px;height:100%;}
#header {position:relative;z-index:10;border-bottom:1px solid #033333;}
#header:before {content:"";position:absolute;top:38px;left:0;width:100%;height:1px;background:#e5eaea;}
#container {position:relative;min-height:100%;margin-top:-157px;padding-top:157px;box-sizing:border-box;}
.contents {width:1190px;height:100%;margin:0 auto;padding-bottom:734px;box-sizing:border-box;}
#footer {position:absolute;bottom:0;left:0;width:100%;margin-top:-734px;padding-top:93px;}

/* Header */
#header .innerWrap {position:relative;width:1190px;height:156px;margin:0 auto;}
#header .innerWrap:after {content:"";display:block;clear:both;}
#header .logo {float:left;margin-top:79px;}
#header .logo a {display:block;width:117px;height:31px;background:url(/inc/images/logo.png) no-repeat 0 0;font-size:0;}
.utilWrap {position:absolute;top:9px;right:0;}
.utilWrap > ul:after {content:"";display:block;clear:both;}
.utilWrap > ul > li {float:left;margin-left:25px;}
.utilWrap > ul > li:first-child {margin-left:0;}
.utilWrap > ul > li > a {font-size:14px;}
.gnb {float:left;margin:85px 0 0 100px;}
.gnb > ul:after {content:"";display:block;clear:both;}
.gnb > ul > li {float:left;margin-left:61px;}
.gnb > ul > li:first-child {margin-left:0;}
.gnb > ul > li > a {font-size:17px;}
.searchWrap {position:absolute;top:75px;right:0;width:180px;box-sizing:border-box;padding:0 41px 0 15px;border:2px solid #333;}
.searchWrap .searchArea {}
.searchWrap .searchArea .ipTxt {width:100%;height:34px;border:0;background:none;line-height:34px;}
.searchWrap .btnSearch {position:absolute;top:0;right:0;width:41px;height:34px;background:url(/inc/images/btn/btn_search.png) no-repeat 50% 50%;font-size:0;}

/* Footer */
#footer .topWrap {width:1190px;margin:0 auto;}
.footerMenu {width:900px;margin-left:37px;}
.footerMenu > ul {}
.footerMenu > ul:after {content:"";display:block;clear:both;}
.footerMenu > ul > li {float:left;margin-left:72px;}
.footerMenu > ul > li:first-child {margin-left:0;}
.footerMenu a {display:block;width:90px;padding-top:98px;font-size:15px;color:#999;text-align:center;}
.footerMenu .menu1 {background:url(/inc/images/icon/icon_footer01.png) no-repeat 50% 0;}
.footerMenu .menu2 {background:url(/inc/images/icon/icon_footer02.png) no-repeat 50% 0;}
.footerMenu .menu3 {background:url(/inc/images/icon/icon_footer03.png) no-repeat 50% 0;}
.footerMenu .menu4 {background:url(/inc/images/icon/icon_footer04.png) no-repeat 50% 0;}
.footerMenu .menu5 {background:url(/inc/images/icon/icon_footer05.png) no-repeat 50% 0;}

#footer .bottomWrap {background:#242e3c;}
#footer .bottomWrap .innerWrap {position:relative;width:1190px;margin:90px auto 0;padding:40px 0 80px;}

#footer .bottomWrap .innerWrap .qnaWrap {position:absolute;top:-207px;right:0;padding:35px 30px 48px;background:#eee;}
#footer .bottomWrap .innerWrap .qnaWrap .tit {font-size:15px;color:#333;}
#footer .bottomWrap .innerWrap .qnaWrap .phone {margin-top:15px;font-family:msEB;font-size:35px;color:#333;}
#footer .bottomWrap .innerWrap .qnaWrap .qnaType {margin-top:20px;font-size:15px;color:#333;}
#footer .bottomWrap .innerWrap .qnaWrap .qnaType em {color:#0084c8;}
#footer .bottomWrap .innerWrap .qnaWrap .info {margin-top:15px;font-size:15px;color:#999;}
#footer .bottomWrap .innerWrap .qnaWrap .txtList {margin-top:45px;}
#footer .bottomWrap .innerWrap .qnaWrap .txtList li {margin-top:15px;font-size:15px;color:#333;}
#footer .bottomWrap .innerWrap .qnaWrap .txtList li:first-child {margin-top:0;}
#footer .bottomWrap .innerWrap .qnaWrap .txtList li em {font-family:msB;font-size:16px;}

#footer .bottomWrap .innerWrap .leftWrap {width:730px;}
#footer .bottomWrap .notice {position:relative;padding-bottom:35px;}
#footer .bottomWrap .notice:after {content:"";display:block;clear:both;}
#footer .bottomWrap .notice .tit {float:left;font-size:15px;font-weight:500;line-height:18px;color:#fff;}
#footer .bottomWrap .notice .noticeList {float:left;overflow:hidden;height:18px;margin-left:30px;}
#footer .bottomWrap .notice .noticeList li {line-height:18px;}
#footer .bottomWrap .notice .noticeList .txt {display:inline-block;overflow:hidden;width:470px;font-size:15px;color:#f9f9f9;text-overflow:ellipsis;white-space:nowrap;}
#footer .bottomWrap .notice .noticeList .date {display:inline-block;margin-left:15px;font-family:msR;font-size:13px;color:#999;vertical-align:top;}
#footer .bottomWrap .notice .btnNotice {position:absolute;top:0;right:0;font-size:0;line-height:0;}
#footer .bottomWrap .notice .btnNotice .left, 
#footer .bottomWrap .notice .btnNotice .right {display:inline-block;width:21px;height:21px;}
#footer .bottomWrap .notice .btnNotice .left {background:url(/inc/images/btn/btn_notice_left.png) no-repeat 0 0;}
#footer .bottomWrap .notice .btnNotice .right {margin-left:-1px;background:url(/inc/images/btn/btn_notice_right.png) no-repeat 0 0;}

#footer .bottomWrap .infoWrap {padding-top:80px;border-top:1px solid #3a4350;}
#footer .bottomWrap .infoWrap .infoMenu {}
#footer .bottomWrap .infoWrap .infoMenu:after {content:"";display:block;clear:both;}
#footer .bottomWrap .infoWrap .infoMenu li {position:relative;float:left;margin-left:14px;padding-left:15px;}
#footer .bottomWrap .infoWrap .infoMenu li:after {content:"";position:absolute;top:5px;left:0;width:1px;height:12px;background:#3a434f;}
#footer .bottomWrap .infoWrap .infoMenu li:first-child {margin:0;padding:0;}
#footer .bottomWrap .infoWrap .infoMenu li:first-child:after {content:none;}
#footer .bottomWrap .infoWrap .infoMenu a {font-size:15px;color:#999;}
#footer .bottomWrap .infoWrap .addr {margin-top:15px;font-size:15px;color:#999;line-height:25px;}
#footer .bottomWrap .infoWrap .account {margin-top:30px;font-size:15px;color:#b1d4ee;}
#footer .bottomWrap .infoWrap .account .tit {color:#fff;}
#footer .bottomWrap .infoWrap .account em {font-family:msB;}
#footer .bottomWrap .infoWrap .account .txt {font-size:13px;}
#footer .bottomWrap .infoWrap .copy {margin-top:35px;font-size:11px;font-family:msR;color:#999;}

#footer .bottomWrap .snsList {position:absolute;bottom:93px;right:0;}
#footer .bottomWrap .snsList ul:after {content:"";display:block;clear:both;}
#footer .bottomWrap .snsList li {float:left;margin-left:10px;}
#footer .bottomWrap .snsList li:first-child {margin-left:0;}

/** Common **/
/* Location */
.location {}
.location ul {}
.location ul:after {content:"";display:block;clear:both;}
.location li {position:relative;float:left;margin-left:7px;padding-left:11px;background:url(/inc/images/icon/icon_location.png) no-repeat 0 8px;}
.location li:first-child {margin:0;padding:0;background:none;}
.location a,
.location strong {font-family:ms;font-size:12px;color:#333;}
.location strong {font-family:msB;}

/* Tab */
.tabWrap {}
.tabList {border-bottom:2px solid #333;}
.tabList:after {content:"";display:block;clear:both;}
.tabList li {float:left;width:20%;}
.tabList li:first-child {margin-left:0;}
.tabList a {display:block;border-right:1px solid #ddd;border-top:1px solid #ddd;border-bottom:0;box-sizing:border-box;font-size:16px;color:#999;text-align:center;line-height:52px;}
.tabList li:first-child a {border-left:1px solid #ddd;}
.tabList li.current {position:relative;z-index:10;margin:-1px 0 0 -1px;}
.tabList li.current a {margin-bottom:-2px;border:2px solid #333;border-bottom:2px solid #fff;color:#333;}

.tabList.len8 li {width:12.5%;}

/* Big Banner */
.bigBanner {position:relative;overflow:hidden;padding:76px 0 70px;}
.bigBanner.northAmerica {background:#c7c9c7;}
.bigBanner.centralAmerica {background:#df9d69;}
.bigBanner.caribbean {background:#88dbdf;}
.bigBanner.southAmerica {background:#cd545b;}
.bigBanner.africa {background:#589c63;}
.bigBanner.europe {background:#ddcba4;}
.bigBanner.asia {background:#a8c8e2;}
.bigBanner.oceania {background:#c6a1cf;}

.bigBanner.northAmerica .btnMore {background:#c7c9c7;}
.bigBanner.centralAmerica .btnMore {background:#df9d69;}
.bigBanner.caribbean .btnMore {background:#88dbdf;}
.bigBanner.southAmerica .btnMore {background:#cd545b;}
.bigBanner.africa .btnMore {background:#589c63;}
.bigBanner.europe .btnMore {background:#ddcba4;}
.bigBanner.asia .btnMore {background:#a8c8e2;}
.bigBanner.oceania .btnMore {background:#c6a1cf;}

.bigBanner .innerWrap {overflow:hidden;padding:0 50px;}
.bigBanner .innerWrap ul {overflow:hidden;height:592px;}
.bigBanner .innerWrap ul:after {content:"";display:block;clear:both;}
.bigBanner .innerWrap li {position:relative;float:left;margin-left:400px;}
.bigBanner .innerWrap li:first-child {margin-left:0;}
.bigBanner .innerWrap > ul > li > .tit {position:relative;z-index:10;font-family:msEB;font-size:70px;color:#333;text-align:center;}
.bigBanner .innerWrap .imgWrap {width:1105px;height:545px;margin-top:-37px;}
.bigBanner .innerWrap .txtBox {position:absolute;top:109px;right:-300px;width:490px;padding:48px;box-sizing:border-box;background:#fff;opacity:.9;}
.bigBanner .innerWrap .txtBox .num {font-family:msEB;font-size:50px;color:#333;}
.bigBanner .innerWrap .txtBox .txt {margin-top:20px;color:#333;}
.bigBanner .innerWrap .txtBox .tit {margin-top:15px;font-weight:500;font-size:50px;color:#333;letter-spacing:-2px;}
.bigBanner .innerWrap .txtBox .price {margin-top:25px;padding-left:37px;background:url(/inc/images/icon/icon_price.png) no-repeat 0 0;color:#333;line-height:23px;}
.bigBanner .innerWrap .txtBox .price em {font-family:ms;}
.bigBanner .innerWrap .txtBox .btnMore {display:inline-block;width:160px;margin-top:79px;color:#fff;line-height:45px;text-align:center;}
.bigBanner .btnWrap {position:absolute;top:125px;left:1254px;width:200px;height:27px;}
.bigBanner .btnWrap .count {font-family:ms;font-size:18px;color:#fff;text-align:center;line-height:27px;}
.bigBanner .btnWrap .count em {font-family:msB;}
.bigBanner .btnWrap .btnPrev,
.bigBanner .btnWrap .btnNext {position:absolute;top:0;width:39px;height:27px;font-size:0;}
.bigBanner .btnWrap .btnPrev {left:0;background:url(/inc/images/btn/btn_banner_left_off.png) no-repeat 0 0;}
.bigBanner .btnWrap .btnNext {right:0;background:url(/inc/images/btn/btn_banner_right_off.png) no-repeat 0 0;}
.bigBanner .btnWrap .btnPrev.on {background:url(/inc/images/btn/btn_banner_left_on.png) no-repeat 0 0;}
.bigBanner .btnWrap .btnNext.on {background:url(/inc/images/btn/btn_banner_right_on.png) no-repeat 0 0;}

/* TravelCountry */
.travelCountry {position:relative;padding:100px 0 40px;}
.travelCountry:after {content:"";position:absolute;bottom:0;left:0;width:100%;height:249px;background:#e1edf5;}
.travelCountry .innerWrap {position:relative;z-index:10;width:1190px;margin:0 auto;}
.travelCountry > .innerWrap > .tit {font-size:40px;color:#333;text-align:center;}
.travelCountry .tabWrap {margin-top:60px;}
.travelCountry .countryWrap {margin-top:90px;}
.travelCountry .countryWrap > .country > .tit {font-family:ms;font-size:30px;color:#222;text-align:center;}
.travelCountry .countryWrap .selectCountry {margin-top:35px;text-align:center;}
.travelCountry .countryWrap .selectCountry a {position:relative;display:inline-block;margin-left:25px;padding:0 2px;color:#222;}
.travelCountry .countryWrap .selectCountry a:first-child {margin-left:0;}
.travelCountry .countryWrap .selectCountry a.current:after {content:"";position:absolute;bottom:-3px;left:0;width:100%;height:3px;background:#9cc2de;}
.travelCountry .countryWrap .conWrap {position:relative;margin-top:70px;}
.travelCountry .countryWrap .conWrap > ul {overflow:hidden;width:940px;height:455px;margin:0 auto;}
.travelCountry .countryWrap .conWrap > ul > li {font-size:0;text-align:center;}
.travelCountry .countryWrap .conWrap a {display:inline-block;width:450px;margin-left:40px;background:#fff;font-size:0;}
.travelCountry .countryWrap .conWrap a:first-child {margin-left:0;}
.travelCountry .countryWrap .conWrap .imgWrap {position:relative;width:450px;height:304px;}
.travelCountry .countryWrap .conWrap .imgWrap .flag {position:absolute;top:0;left:0;width:58px;height:58px;background:#0084c8;font-family:msB;font-size:13px;color:#fff;text-align:center;line-height:58px;}
.travelCountry .countryWrap .conWrap .txtWrap {padding:20px 20px 25px;text-align:left;}
.travelCountry .countryWrap .conWrap .txtWrap .tit {overflow:hidden;font-weight:500;font-size:20px;color:#333;text-overflow:ellipsis;white-space:nowrap;}
.travelCountry .countryWrap .conWrap .txtWrap .txt {overflow:hidden;margin-top:10px;font-size:14px;color:#999;text-overflow:ellipsis;white-space:nowrap;}
.travelCountry .countryWrap .conWrap .txtWrap .info {margin-top:30px;}
.travelCountry .countryWrap .conWrap .txtWrap .info .term {font-size:14px;color:#333;}
.travelCountry .countryWrap .conWrap .txtWrap .info .term em {font-family:ms;}
.travelCountry .countryWrap .conWrap .txtWrap .info .price {margin-left:10px;font-size:17px;color:#333;}
.travelCountry .countryWrap .conWrap .txtWrap .info .price em {font-family:ms;font-size:22px;}
.travelCountry .countryWrap .conWrap .btnWrap {}
.travelCountry .countryWrap .conWrap .btnWrap .btnPrev,
.travelCountry .countryWrap .conWrap .btnWrap .btnNext {position:absolute;top:147px;z-index:10;width:30px;height:57px;font-size:0;}
.travelCountry .countryWrap .conWrap .btnWrap .btnPrev {left:0;background:url(/inc/images/btn/btn_travel_left.png) no-repeat 0 0;}
.travelCountry .countryWrap .conWrap .btnWrap .btnNext {right:0;background:url(/inc/images/btn/btn_travel_right.png) no-repeat 0 0;}

/* TravelList */
.travelList {margin-top:100px;}
.travelList ul {margin:-40px 0 0 -40px;}
.travelList ul:after {content:"";display:block;clear:both;}
.travelList li {float:left;margin:40px 0 0 40px;}
.travelList a {display:block;width:370px;}
.travelList .imgWrap {width:370px;height:250px;}
.travelList .txtWrap {padding:20px 20px 25px;border:1px solid #eee;border-top:0;text-align:left;}
.travelList .txtWrap .tit {overflow:hidden;font-weight:500;font-size:20px;color:#333;text-overflow:ellipsis;white-space:nowrap;}
.travelList .txtWrap .txt {overflow:hidden;margin-top:10px;font-size:14px;color:#999;text-overflow:ellipsis;white-space:nowrap;}
.travelList .txtWrap .info {margin-top:30px;}
.travelList .txtWrap .info .term {font-size:14px;color:#333;}
.travelList .txtWrap .info .term em {font-family:ms;}
.travelList .txtWrap .info .price {margin-left:10px;font-size:17px;color:#333;}
.travelList .txtWrap .info .price em {font-family:ms;font-size:22px;}

/* PlanList */
.planList {margin-top:150px;}
.planList ul {}
.planList ul:after {content:"";display:block;clear:both;}
.planList li {float:left;margin-left:50px;}
.planList li:first-child {margin-left:0;}
.planList a {display:block;}
.planList .imgWrap {width:570px;height:370px;}
.planList .txtWrap {position:relative;height:246px;margin:-30px 16px 0;padding:35px 35px 90px;box-sizing:border-box;background:#fff;text-align:center;transition:all .1s;}
.planList .txtWrap:after {content:"";position:absolute;top:171px;left:50%;width:30px;height:30px;margin-left:-15px;background:url(/inc/images/icon/icon_plan.png) no-repeat 0 0;}
.planList .txtWrap .txt {font-family:pd;font-size:20px;color:#a6a6a6;}
.planList .txtWrap .tit {overflow:hidden;height:72px;margin-top:25px;font-size:30px;color:#333;line-height:36px;}

.planList a:hover .txtWrap,
.planList a:focus .txtWrap {border-bottom:5px solid #b1d4ee;box-shadow:5px 5px 15px 0 rgba(0, 0, 0, .2);transition:all .1s;}

/* ProductDetail */
.productDetail {position:relative;min-height:480px;padding-bottom:49px;}
.productDetail .imgWrap {position:relative;float:left;overflow:hidden;width:691px;}
.productDetail .imgWrap .slideCon {overflow:hidden;width:691px;height:480px;}
.productDetail .imgWrap .slideCon:after {content:"";display:block;clear:both;}
.productDetail .imgWrap .slideCon .slide {float:left;}
.productDetail .imgWrap .slideCon .slick-prev,
.productDetail .imgWrap .slideCon .slick-next {position:absolute;top:210px;z-index:10;width:22px;height:42px;font-size:0;}
.productDetail .imgWrap .slideCon .slick-prev {left:20px;background:url(/inc/images/btn/btn_detail_left.png) no-repeat 0 0;}
.productDetail .imgWrap .slideCon .slick-next {right:20px;background:url(/inc/images/btn/btn_detail_right.png) no-repeat 0 0;}
.productDetail .imgWrap .slick-dots {position:absolute;bottom:19px;left:0;width:100%;text-align:center;}
.productDetail .imgWrap .slick-dots li {display:inline-block;margin-left:5px;}
.productDetail .imgWrap .slick-dots li:first-child {margin-left:0;}
.productDetail .imgWrap .slick-dots li button {width:7px;height:7px;border-radius:50%;background:#fff;opacity:.44;font-size:0;}
.productDetail .imgWrap .slick-dots li.slick-active button {opacity:1;}

.productDetail .txtWrap {margin-left:742px;}
.productDetail .txtWrap .txtBox {margin-bottom:25px;padding:0 3px 30px;border-bottom:1px solid #f0f0f0;}
.productDetail .txtWrap .tit {margin-top:10px;font-weight:500;font-size:35px;color:#333;}
.productDetail .txtWrap .txt {margin-top:15px;color:#999;line-height:25px;}
.productDetail .txtWrap .infoList {padding-left:3px;font-size:15px;color:#333;}
.productDetail .txtWrap .infoList li {margin-top:15px;padding-left:38px;line-height:23px;}
.productDetail .txtWrap .infoList li:first-child {margin-top:0;}
.productDetail .txtWrap .infoList .flight {background:url(/inc/images/icon/icon_product_info01.png) no-repeat 0 0;}
.productDetail .txtWrap .infoList .tracking {background:url(/inc/images/icon/icon_product_info02.png) no-repeat 0 0;}
.productDetail .txtWrap .price {margin-top:65px;font-weight:500;font-size:36px;color:#333;}
.productDetail .txtWrap .price span {display:inline-block;position:relative;}
.productDetail .txtWrap .price em {font-family:msB;}
.productDetail .txtWrap .price span:after {content:"";position:absolute;bottom:4px;left:-1px;z-index:-1;width:100%;height:9px;background:#cde0ee;}
.productDetail .txtWrap .btnWrap {margin-top:60px;font-size:0;}
.productDetail .txtWrap .btnWrap .btnDarkGray {margin-left:15px;}
.productDetail .txtWrap .btnWrap .btnDarkGray:first-child {margin-left:0;}

.productDetail .etcWrap {position:absolute;top:490px;left:0;font-size:0;}
.productDetail .etcWrap button {width:37px;height:38px;}
.productDetail .etcWrap .btnLike {width:38px;background:url(/inc/images/btn/btn_like_off.png) no-repeat 0 0;}
.productDetail .etcWrap .btnLike.current {background:url(/inc/images/btn/btn_like_on.png) no-repeat 0 0;}
.productDetail .etcWrap .btnPrint {background:url(/inc/images/btn/btn_print.png) no-repeat 0 0;}
.productDetail .etcWrap .btnNaver {background:url(/inc/images/btn/btn_naver.png) no-repeat 0 0;}
.productDetail .etcWrap .btnKakao {background:url(/inc/images/btn/btn_kakao.png) no-repeat 0 0;}
.productDetail .etcWrap .btnUrl {background:url(/inc/images/btn/btn_url.png) no-repeat 0 0;}

/* FlightWrap */
.flightWrap {position:relative;margin-top:60px;padding:54px 0 39px;background:#e1edf5;}
.flightWrap:before {content:"";position:absolute;top:0;left:-100%;width:100%;height:100%;background:#e1edf5;}
.flightWrap:after {content:"";display:block;clear:both;}
.flightWrap .listWrap {float:left;width:210px;}
.flightWrap .listWrap ul {}
.flightWrap .listWrap li {position:relative;margin-top:50px;}
.flightWrap .listWrap li:first-child {margin-top:0;}
.flightWrap .listWrap button {position:relative;z-index:10;padding-right:20px;font-size:20px;color:#9aa1a6;background:#e1edf5;}

.flightWrap .listWrap li.current:before {content:"";position:absolute;top:50%;left:0;width:186px;height:1px;margin-top:-.5px;background:#0084c8;}
.flightWrap .listWrap li.current:after {content:"";position:absolute;top:50%;right:0;width:16px;height:16px;margin-top:-8px;background:url(/inc/images/icon/icon_airplane.png) no-repeat 0 0;}
.flightWrap .listWrap li.current button {font-weight:500;color:#333;}

.flightWrap .conWrap {margin:0 49px 0 241px;}
.flightWrap .conWrap .con {position:relative;}
.flightWrap .conWrap .con .slideWrap .slide > ul {}
.flightWrap .conWrap .con .slideWrap .slide > ul:after {content:"";display:block;clear:both;}
.flightWrap .conWrap .con .slideWrap .slide > ul > li {position:relative;float:left;overflow:hidden;width:210px;height:280px;margin-left:20px;padding:29px 19px 30px 11px;box-sizing:border-box;background:#fff;}
.flightWrap .conWrap .con .slideWrap .slide > ul > li:first-child {margin-left:0;}

.flightWrap .conWrap .con .flight {font-size:15px;color:#333;line-height:18px;vertical-align:middle;text-align:center;}
.flightWrap .conWrap .con .flight img {margin-right:5px;}
.flightWrap .conWrap .con .price {margin-top:20px;font-weight:500;font-size:24px;color:#333;text-align:center;}
.flightWrap .conWrap .con .price em {font-family:msB;}
.flightWrap .conWrap .con .infoList {margin-top:19px;padding:13px 19px;border-top:1px solid #f0f0f0;border-bottom:1px solid #f0f0f0;}
.flightWrap .conWrap .con .infoList li {position:relative;margin-top:8px;padding-left:8px;font-size:13px;color:#666;letter-spacing:-.45px;}
.flightWrap .conWrap .con .infoList li:after {content:"";position:absolute;top:6px;left:0;width:2px;height:2px;background:#999;}
.flightWrap .conWrap .con .infoList li:first-child {margin-top:0;}
.flightWrap .conWrap .con .infoList li em {font-family:ms;}
.flightWrap .conWrap .con .btnWrap {margin-top:28px;text-align:center;}
.flightWrap .conWrap .con .btnWrap a {display:inline-block;min-width:100px;border:1px solid #999;font-size:15px;color:#999;line-height:36px;}
.flightWrap .conWrap .con .btnWrap a em {display:inline-block;width:13px;height:11px;margin-right:5px;background:url(/inc/images/icon/icon_check_off.png) no-repeat 0 0;}
.flightWrap .conWrap .con .hoverWrap {display:none;position:absolute;top:0;left:0;width:100%;height:100%;padding:48px 10px 30px;box-sizing:border-box;background:#242e3c;}
.flightWrap .conWrap .con .hoverWrap .tit {font-weight:500;font-size:20px;color:#fff;text-align:center;}
.flightWrap .conWrap .con .hoverWrap .infoList {padding:0 0 0 26px;border:0;}
.flightWrap .conWrap .con .hoverWrap .infoList li {font-size:15px;color:#a5adb8;letter-spacing:-.45px;}
.flightWrap .conWrap .con .hoverWrap .infoList li:after {top:9px;background:#92979e;}
.flightWrap .conWrap .con .hoverWrap .infoList li em {font-family:ns;font-weight:500;color:#fff;}
.flightWrap .conWrap .con .slide > ul > li.current .hoverWrap {display:block;}
.flightWrap .conWrap .con .slide > ul > li.current .btnWrap {position:relative;z-index:10;}
.flightWrap .conWrap .con .slide > ul > li.current .btnWrap a {border:1px solid #0084c8;background:#0084c8;color:#fff;}
.flightWrap .conWrap .con .slide > ul > li.current .btnWrap a em {background:url(/inc/images/icon/icon_check_on.png) no-repeat 0 0;}

.flightWrap .conWrap .con > .txt {margin-top:30px;font-size:14px;color:#999;}
.flightWrap .conWrap .con > .btnWrap {float:right;font-size:0;}
.flightWrap .conWrap .con > .btnWrap .count {display:inline-block;margin-right:15px;font-family:ms;font-size:13px;color:#666;line-height:28px;vertical-align:top;}
.flightWrap .conWrap .con > .btnWrap .btnPrev,
.flightWrap .conWrap .con > .btnWrap .btnNext {display:inline-block;position:relative;width:28px;height:28px;font-size:0;}
.flightWrap .conWrap .con > .btnWrap .btnPrev {background:url(/inc/images/btn/btn_reservation_left_off.png) no-repeat 0 0;}
.flightWrap .conWrap .con > .btnWrap .btnNext {margin-left:-1px;background:url(/inc/images/btn/btn_reservation_right_off.png) no-repeat 0 0;}
.flightWrap .conWrap .con > .btnWrap .btnPrev.on {z-index:10;background:url(/inc/images/btn/btn_reservation_left_on.png) no-repeat 0 0;}
.flightWrap .conWrap .con > .btnWrap .btnNext.on {z-index:10;background:url(/inc/images/btn/btn_reservation_right_on.png) no-repeat 0 0;}

/* MapWrap */
.mapWrap {position:relative;margin-top:100px;}
.mapWrap .txtWrap {position:absolute;top:0;left:0;width:100%;padding:25px 20px;box-sizing:border-box;background:#000;opacity:.8;}
.mapWrap .txtWrap .tit {font-family:msEB;font-size:20px;color:#b9cfde;}
.mapWrap .txtWrap .txt {margin-left:10px;color:#fff;}

/* ProductInfo */
.productInfo {margin-top:100px;}
.productInfo .infoContents {margin-top:60px;}
.colorBoxList li {margin-top:10px;}
.colorBoxList li:first-child {margin-top:0;}
.colorBoxType {display:table;width:100%;}
.colorBoxType .colorBox {display:table-cell;width:190px;background:#cde0ee;font-size:18px;color:#333;text-align:center;vertical-align:middle;}
.colorBoxType .colorBox.pink {background:#fad6c6;}
.colorBoxType .colorBox p {padding-top:55px;font-size:18px;color:#333;}
.colorBoxType .colorBox .product {background:url(/inc/images/icon/icon_box01.png) no-repeat 50% 0;}
.colorBoxType .colorBox .include {background:url(/inc/images/icon/icon_box02.png) no-repeat 50% 0;}
.colorBoxType .colorBox .notInclude {background:url(/inc/images/icon/icon_box03.png) no-repeat 50% 0;}
.colorBoxType .txtWrap {display:table-cell;padding:40px;border:1px solid #eee;border-left:0;}
.colorBoxType .txtWrap .txtList {font-size:17px;color:#666;}
.colorBoxType .txtWrap .txtList li {margin-top:25px;}
.colorBoxType .txtWrap .txtList li:first-child {margin-top:0;}
.colorBoxType .txtWrap .txtList .txtBlue {font-weight:500;}

/* TagWrap */
.tagWrap {margin-top:60px;}
.tagWrap .imgWrap {}
.tagWrap .tagList {position:relative;margin-top:60px;padding-left:90px;}
.tagWrap .tagList .tag {position:absolute;top:0;left:0;width:66px;height:28px;background:url(/inc/images/icon/icon_tag.png) no-repeat 0 0;font-size:0;}
.tagWrap .tagList .list {padding-top:4px;color:#0084c8;}
.tagWrap .tagList ul {margin:-24px 0 0 -20px;}
.tagWrap .tagList ul:after {content:"";display:block;clear:both;}
.tagWrap .tagList li {float:left;margin:24px 0 0 20px;}

/* ReferenceWrap */
.referenceWrap {margin-top:60px;}
.referenceWrap .tit {position:relative;padding-left:26px;font-weight:500;font-size:17px;color:#333;}
.referenceWrap .tit:after {content:"";position:absolute;top:2px;left:0;width:17px;height:18px;background:url(/inc/images/icon/icon_info.png) no-repeat 0 0;}
.referenceWrap .list {margin-top:20px;}
.referenceWrap .list li {margin-top:15px;color:#999;}
.referenceWrap .list li:first-child {margin-top:0;}

/* LineWrap */
.lineListWrap {}
.lineListWrap li {margin-top:20px;}
.lineListWrap li:first-child {margin-top:0;}
.lineWrap {padding:35px 33px 50px;border:1px solid #eee;}
.lineWrap > .tit {font-weight:500;font-size:30px;color:#9cc2de;}
.lineWrap .infoWrap {margin-top:30px;padding-top:40px;border-top:1px solid #eee;}
.lineWrap .infoWrap .txtBox {margin-top:50px;}
.lineWrap .infoWrap .txtBox:first-child {margin-top:0;}
.lineWrap .infoWrap .txtBox .tit {font-weight:500;color:#333;}
.lineWrap .infoWrap .txtBox .tit em {font-family:msB;}
.lineWrap .infoWrap .txtBox .tit + .txt {margin-top:5px;}
.lineWrap .infoWrap .txtBox .txt {line-height:30px;}
.lineWrap .infoWrap .txtBox .txt em {font-family:ms;}

/* Table */

/* Button */
.btnDarkGray {display:inline-block;width:139px;border:1px solid #666;box-sizing:border-box;font-size:16px;color:#333;text-align:center;line-height:59px;}

/** Text **/
.txtBlue {color:#0084c8;}

/** Login **/

/** Main **/

